<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="src" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <iisnode 
      node_env="production"
      loggingEnabled="true"
      devErrorsEnabled="true"
      idleTimeout="600000" 
      watchedFiles="web.config;*.js"
    />
  </system.webServer>
</configuration>